@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Satisfy&family=Syncopate:wght@700&display=swap');
/* BEGIN NAVBAR */
li a:hover {
    background-color: darkcyan;
  } 
.navbar {
  background-color: #333;
}
.navbar li a {
  display: block;
  color: aliceblue;
  font-family: Satisfy;
  font-size: 20px;
}
.navbar .navbar-brand {
  color: aliceblue;
  font-family: Syncopate;

}
#search {
  color: aliceblue;
}
/* END NAVBAR */
/* Main */
main {
    background-color: #333;
    color: aliceblue;
}
/* END MAIN */
/* HOME */
#home {
    background-image: url(images/6405318ac146473a95bfbdcec2b32943.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 808px;
    color: white;
    margin-top: 52px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-family: Monoton;
    text-align: center;
}
/* END HOME */
/* ABOUT ME */
#about-me-heading {
    text-align: center;
    padding: 60px;
    font-family: Monoton;
}
#heading span {
    color: aqua;
}
